<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>LivingRoom HomeKit Hub</title>

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script> -->

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <link rel="stylesheet" href="../static/css/main.css">
    <!-- <link rel="stylesheet" href="../static/css/swipe.css"> -->

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

    <!-- <script type="text/javascript" src="../static/js/room1.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/swipe.js"></script> -->

    <style>
        html {
            height: 100%;
        }

        body {
            /* position: relative; */
            height: 100%;
            margin: 0;
            /* background-image: linear-gradient(180deg, rgb(2, 83, 225), rgb(89, 181, 192)); */
            background: black;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .chris {
            background-image: linear-gradient(180deg, rgb(2, 83, 225), rgb(89, 181, 192));
        }

        .salon {
            /* background: linear-gradient(to right, #2ca53d, #99b555); */
            background-image: linear-gradient(180deg, #2ca53d, #99b555)
        }

        .swiper-slide {
            /* margin-left: 1rem; */
            height: 100%;
            /* text-align: center; */
            /* font-size: 18px; */
            /* background: #fff; */


            /* Center slide text vertically */
            /* display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center; */
        }
    </style>

</head>

<body>

    <!-- <div class="container-fluid"> -->

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide salon">

                <div class="container-fluid">

                    <h1 class="display-4 text-white font-weight-bold">Salon</h1>

                    <h4 class="text-white"><strong>Accessories</strong></h4>

                    <div class="row">
                        <!-- Left Pannel -->
                        <div class="col-sm-1 col-md-1 my-auto">
                            <!-- <p class="text-center">First Col</p> -->

                            <div class="text-center my-auto">
                                <a href="/">
                                    <img src="../static/png/left-arrow.png" style="width: 4rem; height: 4rem;"
                                        class="rounded mx-auto" alt="...">
                                </a>
                            </div>

                        </div>
                        <!-- Center Pannel -->
                        <div class="col-sm-10 col-md-10">

                            <button type="button" class="btn">
                                <div id="deskLamp" class="accessorie text-left">
                                    <img id="deskLampImg" width="64" height="64" src="../static/png/lamp2Off.png"
                                        class="ml-3 mt-3" alt="...">

                                    <div style="height: 50px; width: auto;" class="row ml-3 mr-3 align-items-end">
                                        <h5 id="deskLampName" class="mb-0 accessorieNameOff"><strong>Lampe
                                                <br>Bureau</strong>
                                        </h5>

                                    </div>

                                    <div style="height: 50px; width: auto;" class="row ml-3 mr-3">
                                        <h6 id="deskLampState" class="mb-0 accessorieStatusOff font-weight-bold">Mise
                                            à jour</h6>
                                    </div>

                                </div>
                            </button>

                            <!-- <p class="text-center">Second Col</p> -->
                            <button type="button" class="btn">
                                <div class="card bg-light text-left" style="width: 12rem; height: 12rem;">
                                    <div class="card-body">
                                        <img width="64" height="64" src="../static/png/lampLivingRoom.png" class="mr-3"
                                            alt="...">
                                        <h5 class="card-title"> <br> Colonne</h5>
                                        <!-- <p class="card-text">Off</p> -->
                                        <h6 class="card-subtitle mb-2 text-muted"><strong> <br> Off</strong></h6>
                                    </div>
                                </div>
                            </button>

                            <button type="button" class="btn">
                                <div class="card bg-light text-left" style="width: 12rem; height: 12rem;">
                                    <div class="card-body">
                                        <img width="64" height="64" src="../static/png/light.png" class="mr-3"
                                            alt="...">
                                        <h5 class="card-title"> <br> Arbre</h5>
                                        <!-- <p class="card-text">Off</p> -->
                                        <h6 class="card-subtitle mb-2 text-muted"><strong> <br> On</strong></h6>
                                    </div>
                                </div>
                            </button>

                        </div>

                        <!-- Right Pannel -->
                        <div class="col-sm-1 col-md-1 my-auto">
                            <!-- <p class="text-center">Third Col</p> -->

                            <div class="text-center">
                                <a href="/">
                                    <img src="../static/png/right-arrow.png" style="width: 4rem; height: 4rem;"
                                        class="rounded mx-auto" alt="...">
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="swiper-slide chris">
                <h1 class="display-4 text-white font-weight-bold">Salon</h1>

                <h4 class="text-white"><strong>Accessories</strong></h4>

                <div class="row">
                    <!-- Left Pannel -->
                    <div class="col-sm-1 col-md-1 my-auto">
                        <!-- <p class="text-center">First Col</p> -->

                        <div class="text-center my-auto">
                            <a href="/">
                                <img src="../static/png/left-arrow.png" style="width: 4rem; height: 4rem;"
                                    class="rounded mx-auto" alt="...">
                            </a>
                        </div>

                    </div>
                    <!-- Center Pannel -->
                    <div class="col-sm-10 col-md-10">

                        <!-- <p class="text-center">Second Col</p> -->
                        <button type="button" class="btn">
                            <div class="card bg-light text-left" style="width: 12rem; height: 12rem;">
                                <div class="card-body">
                                    <img width="64" height="64" src="../static/png/lampLivingRoom.png" class="mr-3"
                                        alt="...">
                                    <h5 class="card-title"> <br> Colonne</h5>
                                    <!-- <p class="card-text">Off</p> -->
                                    <h6 class="card-subtitle mb-2 text-muted"><strong> <br> Off</strong></h6>
                                </div>
                            </div>
                        </button>

                        <button type="button" class="btn">
                            <div class="card bg-light text-left" style="width: 12rem; height: 12rem;">
                                <div class="card-body">
                                    <img width="64" height="64" src="../static/png/light.png" class="mr-3" alt="...">
                                    <h5 class="card-title"> <br> Arbre</h5>
                                    <!-- <p class="card-text">Off</p> -->
                                    <h6 class="card-subtitle mb-2 text-muted"><strong> <br> On</strong></h6>
                                </div>
                            </div>
                        </button>

                    </div>

                    <!-- Right Pannel -->
                    <div class="col-sm-1 col-md-1 my-auto">
                        <!-- <p class="text-center">Third Col</p> -->

                        <div class="text-center">
                            <a href="/">
                                <img src="../static/png/right-arrow.png" style="width: 4rem; height: 4rem;"
                                    class="rounded mx-auto" alt="...">
                            </a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- </div> -->



    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

    <script type="text/javascript" src="../static/js/swipe.js"></script>

    <script>
        var mySwiper = new Swiper('.swiper-container', {

            on: {

                init: function () {
                    console.log("SwiperInit")
                },

                slidePrevTransitionStart: function () {
                    console.log("PrevSlide")
                },

                slideNextTransitionEnd: function () {
                    console.log("NextSlide")
                },
            },

            // Optional parameters
            direction: 'horizontal',
            speed: 500,
        })
    </script>

    <script type="text/javascript" src="../static/js/room1.js"></script>

</body>

</html>